{% extends "layout.html" %}
{% block body %}

    <h2 class="sub-header">À propos de l'entreprise</h2>
        <div class="table-responsive">

            <table class="table table-striped">
                <tr>
                    <th>Nom de l'entreprise</th>
                    <th>CA</th>
                    <th>Activité</th>
                    <th>Pays</th>
                </tr>
                {% for a in companies %}
                    <tr>
                        <td>{{ a["company"] }}</td>
                        <td>{{ a["CA"] }}</td>
                        <td>{{ a["domaine"] }}</td>
                        <td>{{ a["pays"] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

{% endblock %}
