{% extends "layout.html" %}
{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="card" style="width: 18rem;">
            <div class="card-body">{% for information in info %}
                <img class="card-img-top"
                     src="http://www.geognos.com/api/en/countries/flag/{{ information["iso"] }}.png"
                     alt="Card image cap">
                <h5 class="card-title">{{ information["pays"] }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ information["devise"] }}</h6>
                <p class="card-text">PIB : {{ information["pib"] }} $/habitant{% endfor %}{% for money in monnaie %}<br>
                Nom de
                    la monnaie : {{ money["monnaie"] }}<br>Code iso de la monnaie : {{ money["monnaie_iso"] }}
                    </p>{% endfor %}
                <a href="/info_country.html" class="card-link">Voir d'autres pays...</a>
                <a href="{{ url_for('index') }}" class="card-link">Accueil</a>
            </div>
        </div>

    </div>
{% endblock %}
