{% extends "layout.html" %}
{% block body %}

    <div class="container center-block">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% for country in country %}{{ country["pays"] }}{% endfor %}</li>
            </ol>
        </nav>
        <div class="row center-block">

            {% for country in country %}
                <div class="row center-block">
                <div class="col-sm-6">{% if country["iso"] != None %}<img
                        src="https://www.geonames.org/flags/x/{{ country["iso"].lower() }}.gif"
                        height="150px">{% endif %}</div>
                <div class="col-sm-6"><h1 class="display-3">{{ country["pays"] }}</h1>
                {% if country["pib"] != None %}<h5 class="text-secondary font-italic">{{ country["devise"] }}</h5>
                {% endif %}
                {% if country["pib"] != None %}<p class="text-left">PIB : <strong>{{ country["pib"] }}</strong> $
                    /habitant<br>{% endif %}
            {% endfor %}
            {% for monnaie in monnaie %}
                Monnaie : <strong>{{ monnaie["monnaie"] }},
                {{ monnaie["monnaie_iso"] }}</strong></p>
            {% endfor %}
            </div>
            {% if company != [] %}
                <h4>3 plus grosses entreprises de {% for country in country %}{{ country["pays"] }}{% endfor %}</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th scope="col">Nom de l'entreprise</th>
                            <th scope="col">Chiffre d'affaire</th>
                            <th scope="col">Activité</th>
                        </tr>
                        {% for a in company %}
                            <tr>
                                <td><strong>{{ a["company"] }}</strong></td>
                                <td>{{ a["CA"] }}</td>
                                <td>{{ a["domaine"] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            {% if cancer != [] and alcool != [] and kidnap != [] and cinema != [] %}
                <h4>Les statistiques inutiles</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Valeurs</th>
                        </tr>
                        <tr>
                            {% for cancer in cancer %}
                                <td><strong>Nombre de mort du cancer</strong></td>
                                <td>{{ cancer["nbr_cancer"] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for alcool in  alcool %}
                                <td><strong>Nombre de litre d'alcool consommé par habitant par an</strong></td>
                                <td>{{ alcool["alc"] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for kidnap in kidnap %}
                                <td><strong>Nombre de kidnapping par an</strong></td>
                                <td>{{ kidnap["kidnap"] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for cinema in cinema %}
                                <td><strong>Prix d'une place de cinéma</strong></td>
                                <td>{{ cinema["cinema"] }}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            {% endif %}


            </div>
            <div class="col-sm-12 center-block" style="margin-bottom:2em;">
                <div style="width: auto; height: 500px; margin-left:auto;margin-right:auto;margin-bottom: auto;"
                     id="map"></div>
                <script>

                    var mapData = {"{% for country in country %}{{ country['iso'] }}{% endfor %}": 1000,};
                    $(function () {
                        $('#map').vectorMap({

                            map: 'world_mill',
                            backgroundColor: '#006994',

                            onRegionClick: function (event, code) {
                                window.location.href = "../display_country_map.html?id=" + code
                            },
                            regionStyle: {
                                initial: {
                                    fill: '#B8E186'
                                },
                                selected: {
                                    fill: '#F4A582'
                                }
                            },
                            series: {
                                regions: [{
                                    values: mapData,
                                    scale: ['#ff0000'],
                                    normalizeFunction: 'polynomial'
                                }]
                            },


                        });


                    });
                </script>
            </div>

        </div>
    </div>




{% endblock %}
