{% extends "layout.html" %}
{% block body %}
    <form method="get" action="display_country.html">
        <div class="form-group">
            <label for="countries">Séléctionnez un pays :</label>
            <select class="form-control form-control-lg" name="id" id="countries">
                {% for a in country %}
                    <option value="{{ a["id"] }}">{{ a["name"] }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary form-control-lg"><i class="fas fa-plane-departure"></i>
            Voyageons...
        </button>
    </form>
{% endblock %}
