{% extends "layout.html" %}
{% block body %}
    <!-- TODO JUMBOTRON BOOTRSTRAP-->

    <div class="container">
        <div class="row">
            <div class="col-sm-12"><h1 style="text-align:center;">Bienvenue sur
                <br><strong>Mappemonde</strong></h1>
                <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Hoelzelnaturalearth.png/1280px-Hoelzelnaturalearth.png"
                     height="150px" style="margin-bottom:20px; max-height: :150px;    display: block;
    margin-left: auto;
    margin-right: auto; " class="center-block">-->
            </div>

            <div class="col-sm-12 center-block" style="margin-bottom:1em;">
                <form method="get" action="../display_country.html">
                    <div class="form-group">
                        <label for="countries">Séléctionnez un pays :</label>
                        <select class="form-control form-control-lg" name="id" id="countries">
                            {% for a in country %}
                                <option value="{{ a["id"] }}">{{ a["name"] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary form-control-lg text-center"
                                style="margin-left:auto;margin-right:auto;"><i class="fas fa-plane-departure"></i>
                            Voyageons...
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 center-block" style="margin-bottom:2em;">
                <div style="width: auto; height: 500px; margin-left:auto;margin-right:auto;margin-bottom: auto;"
                     id="map"></div>
                <script>
                    $(function () {
                        $('#map').vectorMap({

                            map: 'world_mill',
                            backgroundColor: '#006994',
                            regionStyle: {
                                initial: {
                                    fill: '#ffffff'
                                },
                                selected: {
                                    fill: '#F4A582'
                                }
                            },

                            onRegionClick: function (event, code) {
                                window.location.href = "../display_country_map.html?id=" + code
                            }
                        });
                    });
                </script>
            </div>

            <div class="col-sm-4" style="margin-bottom: 10px; margin-left:auto;margin-right:auto;">
                <div class="card text-center" style="width: 18rem; height:180px; margin-left:auto;margin-right:auto;">
                    <div class="card-body">
                        <h5 class="card-title">Informations sur des pays</h5>
                        <p class="card-text">Découvrez en plus sur les pays...<br></p>
                        <a href="/info_country/" class="btn01 btn btn-primary"
                           style=""><i class="fas fa-plane-departure"></i> Allons-y!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="margin-bottom: 10px; margin-left:auto;margin-right:auto;">
                <div class="card text-center" style="width: 18rem; height:180px; margin-left:auto;margin-right:auto;">
                    <div class="card-body">
                        <h5 class="card-title">Les entreprises</h5>
                        <p class="card-text">Les 3 plus grosses entreprises<br></p>
                        <a href="/companies/" class="btn01 btn btn-primary"
                           style=""><i class="fas fa-building"></i> Prenons de la
                            hauteur</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="margin-bottom: 10px; margin-left:auto;margin-right:auto;">
                <div class="card text-center" style="width: 18rem; height:180px; margin-left:auto;margin-right:auto;">
                    <div class="card-body">
                        <h5 class="card-title">Cancer</h5>
                        <p class="card-text">Nombre de mort par cancer<br></p>
                        <a href="/cancer/" class="btn01 btn btn-primary"
                           style=""><i class="fas fa-skull-crossbones"></i> Allons
                            voir la mort</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="margin-bottom: 10px; margin-left:auto;margin-right:auto;">
                <div class="card text-center" style="width: 18rem; height:180px; margin-left:auto;margin-right:auto;">
                    <div class="card-body">
                        <h5 class="card-title">Alcool :</h5>
                        <p class="card-text">Nombre de litre consommé par an<br></p>
                        <a href="/alcool/" class="btn01 btn btn-primary" style=""><i
                                class="fas fa-beer"></i> Buvons !</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="margin-bottom: 10px; margin-left:auto;margin-right:auto;">
                <div class="card text-center" style="width: 18rem; height:180px; margin-left:auto;margin-right:auto;">
                    <div class="card-body">
                        <h5 class="card-title">Cinéma :</h5>
                        <p class="card-text">Prix d'une place de cinéma<br></p>
                        <a href="/cinema/" class="btn01 btn btn-primary" style=""><i
                                class="fas fa-theater-masks"></i> Regardons !</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="margin-bottom: 10px; margin-left:auto;margin-right:auto;">
                <div class="card text-center" style="width: 18rem; height:180px; margin-left:auto;margin-right:auto;">
                    <div class="card-body">
                        <h5 class="card-title">Kidnapping</h5>
                        <p class="card-text">Nombre de kidnapping<br></p>
                        <a href="/kidnap/" class="btn01 btn btn-primary"
                           style=""><i class="fas fa-baby-carriage"></i> Find Maelys</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
