{% extends "layout.html" %}
{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">Information sur le pays...</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
            <th>Drapeau</th>
            <th>Nom</th>
        </tr>
      </thead>
      <tbody>
      {% for a in countries %}
        <tr>
            <td>{{ a["id"] }}</td>
            <td><img src="https://www.geonames.org/flags/x/{{ a["iso"].lower() }}.gif" height="10px"></td>
            <td><a href="{{ url_for('onlyCountry',id=a["id"]) }}">{{ a["name"] }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
