{% extends "layout.html" %}
{% block body %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">Tracks</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Album</th>
                  <th>Title</th>
                  <th>Artist</th>
                  <th>Genre</th>
                </tr>
              </thead>
              <tbody>
                {% for t in tracks %}
                <tr>
                  <td><span title="{{ t["album_title"] }}">{{ t["album_title"] | truncate(30)}}</span></td>
                  <td><span title="{{ t["track_name"] }}">{{ t["track_name"] | truncate(30)}}</span></td>
                  <td><span title="{{ t["artist"] }}">{{ t["artist"] | upper | truncate(25) }}</span> </td>
                  <td>{{ t["genre"]  }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
{% endblock %}
